<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="color:White;
background: rgb(0,0,0);
background: #080530;">

<style>
body {
  background-image: url(https://htmlcolors.com/gradients-images/56-purple-orange-gradient.jpg) 
  
}

  p {color:white;}

</style>


<br>
<br>
<br>


<form action="#" method="post">

    <center>
        <div class="form-floating mb-3" class="opacity-50">
            <p style="font-size:18px">Post Contents
            <p>
                <input type="text" class="form-control transparent-input text-center" id="postcontent"
                       name="postcontent" placeholder="write your post here" autocomplete="off"
                       style="height: 180px;    width:800px;background-color:#FFFFFF;color:black">

        </div>
        <center>

            <br>

            <center>
                <div class="form-floating" class="text-center">
                    <p style="font-size:18px">Post tags
                    <p>
                        <input type="text" class="form-control text-center" id="posttags" name="posttags"
                               placeholder="insert your post tags seperated by ',' " autocomplete="off"
                               style="height: 80px;    width:800px;background-color:#FFFFFF;color:black">

                    <center>

                        <br>
                        <center>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit"
                       style="background-color:#000000;color:white">
                <center>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>